<!DOCTYPE html>
{% load static %}

<!--/* CSS style from social footer */-->

<!--/* ===== Start social media area CSS ===== */-->
<style>
.footer_area{
    position: relative;
    width: 100%;
    top: -150px;
    padding: 5px;
}
.footer_social{
    display: inline-flex;
    padding-bottom: 30px;
    font-size: medium;
}
.social-ico{
    width: 20%;
}
</style>

	<!--================Footer Area =================-->
    <footer class="footer_area">
        <div class="container">
            <div class="justify-content-center">
                <div class="col-lg-12">
                    <div class="footer_top flex-column">
                        <div class="footer_logo">
                            <a href="#">
                                <img src="{% static '/img/site_django/logo_preto2.png' alt='logo_preto2' %}">
                            </a>
                        </div>
                        <div class="footer_social">
                            <h2>Siga-me nas redes sociais</h2>
                            <a href="https://www.facebook.com/marcosfabricio.sizanosky">
                                <i>
                                    <img class="social-ico" src="{% static '/img/site_django/facebook-ico.png' alt='facebook-ico' %}">
                                    <h4>Facebook</h4>
                                </i>
                            </a>
                            <a href="https://instagram.com/fabricio_sizanosky?utm_medium=copy_link">
                                <i>
                                    <img class="social-ico" src="{% static '/img/site_django/instagram-ico.png' alt='instagram-ico' %}">
                                    <h4>Instagram</h4>
                                </i>
                            </a>
                            <a href="https://www.linkedin.com/in/marcosfabriciosizanosky">
                                <i>
                                    <img class="social-ico" src="{% static '/img/site_django/linkedin-ico.png' alt='linkedin-ico' %}">
                                    <h4>Linkedin</h4>
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
	<!--================End Footer Area =================-->
