<!DOCTYPE html>
{% load static %}

	<!--================Footer Area =================-->
    <footer class="footer_area">
        <div class="container">
            <div class="justify-content-center">
                <div class="col-lg-12">
                    <div class="footer_top flex-column">
                        <div class="footer_logo">
                            <a href="#">
                                <img src="{% static '/img/site_django/logos/logo2.png' alt='logo2' %}">
                            </a>
                        </div>
                        <nav class="footer_social">
                            <h2>Siga-me nas redes sociais</h2>
                            <a href="https://www.facebook.com/marcosfabricio.sizanosky">
                                <i>
                                    <img class="social-ico" src="{% static '/img/site_django/social_ico/facebook-ico.png' alt='facebook-ico' %}">
                                    <h4>Facebook</h4>
                                </i>
                            </a>
                            <a href="https://instagram.com/fabricio_sizanosky?utm_medium=copy_link">
                                <i>
                                    <img class="social-ico" src="{% static '/img/site_django/social_ico/instagram-ico.png' alt='instagram-ico' %}">
                                    <h4>Instagram</h4>
                                </i>
                            </a>
                            <a href="https://www.linkedin.com/in/marcosfabriciosizanosky">
                                <i>
                                    <img class="social-ico" src="{% static '/img/site_django/social_ico/linkedin-ico.png' alt='linkedin-ico' %}">
                                    <h4>Linkedin</h4>
                                </i>
                            </a>
                            <a href="https://www.github.com/sizanosky">
                                <i>
                                    <img class="social-ico" src="{% static '/img/site_django/social_ico/github-ico.png' alt='github-ico' %}">
                                    <h4>GitHub</h4>
                                </i>
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer_bottom justify-content-center">
				<p class="col-lg-8 col-sm-12 footer-text">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
			</div>
		</div>
    </footer>
	<!--================End Footer Area =================-->