<!doctype html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/menu.html' %}

	<!--================ Start Home Banner Area =================-->
	<section class="home_banner_area">
		<div class="banner_inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<div class="banner_content">
							<h3 class="text-uppercase" style="margin-top: 140px">Olá</h3>
							<h1 class="text-uppercase">Meu nome é Fabricio</h1>
							<h5 class="text-uppercase">Graduando em Analise de sistemas, Técnico de audio e Lighting desiner.</h5>
							<div class="d-flex align-items-center">
								<a class="primary_btn" href="#"><span>Me Contrate!</span></a>
								<a class="primary_btn tr-bg" href="#"><span>Veja meu CV</span></a>
							</div>
						</div>
					</div>
					<div class="col-lg-5">
						<div class="home_right_img">
							<img class="" src="{% static 'img/site_django/banner-entrada.png' %}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Home Banner Area =================-->

	<!--================ Start About Us Area =================-->
	<section class="about_area section_gap">
		<div class="container">
			<div class="row justify-content-start align-items-center">
				<div class="col-lg-5">
					<div class="about_img">
						<img class="" src="{% static 'img/about-us.png' %}" alt="">
					</div>
				</div>

				<div class="offset-lg-1 col-lg-5">
					<div class="main_title text-left">
						<h2>Deixa <br>
							eu<br>
							me apresentar!<br>
							</h2>
							
						<p>
							Adoro trabalhar com tecnologia principalmente quando posso usar
							programação para otimizar processos.<br>
							Trabalho com audio profissional há mais de 20 anos.<br>
							Há um ano decidi me formar como Analista de Sistemas.<br>
						</p>
						<p>
							Hoje sou Analista de Sistemas aqui no Brasil e uso Python em diversos projetos!<br>
							Amo trabalhar com audio profissional e uso programação para resolver problemas,<br>
							automatizar tarefas repetitivas e criar sistemas web!
						</p>
						<a class="primary_btn" href="#"><span>Baixar meu CV</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End About Us Area =================-->

	<!--================ Start Features Area =================-->
	<section class="features_area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center">
					<div class="main_title">
						<h2>Serviços Oferecidos</h2>
						<p>
							Is give may shall likeness made yielding spirit a itself togeth created 
							after sea <br> is in beast beginning signs open god you're gathering ithe
						</p>
					</div>
				</div>
			</div>
			<div class="row feature_inner">
				<div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="{% static 'img/services/s1.png' %}" alt="">
						<h4>Wp developing</h4>
						<p>Creeping for female light years that lesser can't evening heaven isn't bearing tree</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="{% static 'img/services/s2.png' %}" alt="">
						<h4>UI/ux design</h4>
						<p>Creeping for female light years that lesser can't evening heaven isn't bearing tree</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="{% static 'img/services/s3.png' %}" alt="">
						<h4>Web design</h4>
						<p>Creeping for female light years that lesser can't evening heaven isn't bearing tree</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="{% static 'img/services/s4.png' %}" alt="">
						<h4>seo optimize</h4>
						<p>Creeping for female light years that lesser can't evening heaven isn't bearing tree</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Features Area =================-->

{% include 'partials/footer.html' %}
{% endblock %}