<!doctype html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/header.html' %}

    <!--================ Start Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Projetos</h2>
                    <nav class="page_link">
                        <a class="page_link_text" href="{% url 'index' %}">Início</a>
                        <a class="page_link_text" href="{% url 'projetos' %}">Projetos</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Banner Area =================-->

	<!--================Start Portfolio Area =================-->
	<section class="portfolio_area" id="portfolio">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="main_title text-left">
						<h2>PROJETOS <br>
							em desenvolvimento:
						</h2>
					</div>
				</div>
			</div>
<!--			<div class="filters portfolio-filter">-->
<!--				<ul>-->
<!--					<li class="active" data-filter="*">todos</li>-->
<!--					<li data-filter=".popular">populares</li>-->
<!--					<li data-filter=".latest"> últimos</li>-->
<!--					<li data-filter=".upcoming">em progresso</li>-->
<!--				</ul>-->
<!--			</div>-->
			<div class="filters-content">
				<div class="row portfolio-grid justify-content-center">
					{% if projetos %}
					{% for projeto in projetos %}
					
					<div class="col-lg-4 col-md-6 all latest">
						<div class="portfolio_box">
							<div class="single_portfolio">
								{% if projeto.linguagem == "Python" %}
								<img class="img-fluid w-100" src="{% static 'img/site_django/logos/python-logo.png' %}" alt="python-logo">
								<div class="overlay"></div>
								{% elif projeto.linguagem == "C++" %}
								<img class="img-fluid w-100" src="{% static 'img/site_django/logos/c-logo.png' %}" alt="C++-logo">
								<div class="overlay"></div>
								{% elif projeto.linguagem == "Python/Django" %}
								<img class="img-fluid w-100" src="{% static 'img/site_django/logos/django-logo4.png' %}" alt="Django-logo">
								<div class="overlay"></div>
								{% endif %}
							</div>
							<div class="short_info">
								<h4><a href="{% url 'projeto_details' projeto.id %}">{{ projeto.nome_projeto }}</a></h4>
								<p>{{ projeto.descricao_projeto }}</p>
							</div>
						</div>
					</div>
					{% endfor %}
					{% else %}
					{% endif %}
				</div>
			</div>
		</div>
	</section>
	<!--================End Portfolio Area =================-->

{% include 'partials/footer.html' %}
{% endblock %}